*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
   
}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* bg colors */
    --bg-primary-color: #0c0c0c; 
   
    /* text color */
    --text-primary-color: #f3f2f2;

    /* spacing variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;


    /* border color */

    --border-primary-color: #646363;

    /* border radius*/
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

main,
section{
    width: 100%;
    height: 100%;
}
section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);

}

.board{
    border: 2px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px,1fr));
    grid-template-rows: repeat(auto-fill ,minmax(10px,1fr));
   
.block{
    width: 10px;
    height: 10px;
    border: 1px solid var(--border-primary-color);
}